*{
  box-sizing: border-box;
}

.list {
  max-height: 536px;
  overflow: auto;
}

.mat-table {
  width: 100%;
}

.mat-row{
  height: 48px;
}

.mat-column{
  &-position{
    width: 8%;
  }

  &-firstName,
  &-lastName,
  &-email,
  &-phone{
    width: 20%;
  }

  &-edit,
  &-delete{
    width: 6%;
  }
}

.list__btn{
  border: none;
  background-color: white;

  &_edit{
    color: #EFA863;
  }

  &_delete{
    color: red;
  }

  &:hover{
    cursor: pointer;
  }
}

.list__paginator{
  margin-top: 15px;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 4px;
  background-color: white;
  cursor:pointer;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #ccc;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
}

[hidden] {
  display: none !important;
}
