*{
  box-sizing: border-box;
}
.mat-table {
  width: 100%;
}
.btn{
  border: none;
  background-color: white;

  &_edit{
    color: #EFA863;
  }

  &_delete{
    color: red;
  }

  &:hover{
    cursor: pointer;
  }
}
