*{
  box-sizing: border-box;
}

.form{
  &__row{
    margin-bottom: 30px;
  }

  &__title{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__error{
    font-size: 13px;
    color: #f60606;
  }

  &__input {
    font-size: 14px;
    padding: 0 15px;
    width: 1200px;
    min-height: 44px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    outline: none;
    background-color: #FFFFFF;

    &::placeholder{
      color: #a9a9a9;
    }
  }
}
.button{
  height: 40px;
  width: fit-content;
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 16px;
  background-color: #28A745;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;

  &:hover{
    cursor: pointer;
    background-color: #0d9327;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
