<form [formGroup]="formData" (ngSubmit)="submitForm()" #userForm=ngForm>
  <div class="form__row">
    <div class="form__title">
      <span>First Name</span>
      <small
        *ngIf="formData.controls['firstName'].hasError('required') && formData.controls['firstName'].touched"
        class="form__error"
      >
        Field can't be empty
      </small>
      <small
        *ngIf="formData.controls['firstName'].hasError('minlength')"
        class="form__error"
      >
        Fist Name is too short
      </small>
    </div>
    <input
      [ngStyle]="{'border-color': formData.controls['firstName'].invalid && (userForm.submitted || formData.controls['firstName'].touched) ? '#F60606': '#C4C4C4'}"
      formControlName="firstName"
      class="form__input"
      type="text"
      placeholder="Input first name here..."
    >
  </div>

  <div class="form__row">
    <div class="form__title">
      <span>Last Name</span>
      <small
        *ngIf="formData.controls['lastName'].hasError('required') && formData.controls['lastName'].touched"
        class="form__error"
      >
        Field can't be empty
      </small>
      <small
        *ngIf="formData.controls['lastName'].hasError('minlength')"
        class="form__error"
      >
        Last Name is too short
      </small>
    </div>
    <input
      [ngStyle]="{'border-color': formData.controls['lastName'].invalid && (userForm.submitted || formData.controls['lastName'].touched) ? '#F60606': '#C4C4C4'}"
      formControlName="lastName"
      class="form__input"
      type="text"
      placeholder="Input last name here..."
    >
  </div>

  <div class="form__row">
    <div class="form__title">
      <span>Email</span>
      <small
        *ngIf="formData.controls['email'].hasError('required') && formData.controls['email'].touched"
        class="form__error"
      >
        Field can't be empty
      </small>
      <small
        *ngIf="formData.controls['email'].hasError('email') || formData.controls['email'].hasError('pattern')"
        class="form__error"
      >
        Invalid email
      </small>
    </div>
    <input
      [ngStyle]="{'border-color': formData.controls['email'].invalid && (userForm.submitted || formData.controls['email'].touched || formData.controls['email'].dirty) ? '#F60606': '#C4C4C4'}"
      formControlName="email"
      class="form__input"
      type="email"
      placeholder="Input email here..."
    >
  </div>

  <div class="form__row">
    <div class="form__title">
      <span>Phone</span>
      <small
        *ngIf="formData.controls['phone'].hasError('required') && formData.controls['phone'].touched"
        class="form__error"
      >
        Field can't be empty
      </small>
      <small
        *ngIf="formData.controls['phone'].hasError('minlength') || formData.controls['phone'].hasError('pattern')"
        class="form__error"
      >
        Phone must have view like: +380 xx xxx xx xx and length of 12 numbers
      </small>
    </div>
    <input
      [ngStyle]="{'border-color': formData.controls['phone'].invalid && (userForm.submitted || formData.controls['phone'].touched  || formData.controls['phone'].dirty) ? '#F60606': '#C4C4C4'}"
      formControlName="phone"
      class="form__input"
      type="text"
      placeholder="+38(XXX) XXX XX XX"
    >
  </div>

  <button class="button" type="submit">
    <span *ngIf="!editMode">Add</span>
    <span *ngIf="editMode">Save</span>
  </button>
</form>
